# Compiled output
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/dist
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/tmp
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/out-tsc
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/bazel-out

# Node
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/.angular/cache
.sass-cache/
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/connect.lock
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/coverage
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/libpeerconnection.log
testem.log
Wikipedia-Biologica-02/Desenvolvimento/5.Implantação/wbio/typings

# System files
.DS_Store
Thumbs.db
