<section class="formulario container">
    <div class="linha-form">
        <div class="campo">
        <label for="nomePopular">Nome Popular</label>
        <input type="text" name="nomePopular" id="nomePopular">
        </div>

        <div class="campo">
        <label for="habitat">Habitat</label>
        <input type="text" name="habitat" id="habitat">
        </div>
    </div>
    <div class="linha-form">
        <div class="campo">
        <label for="alimentacao">Alimentação</label>
        <input type="text" name="alimentacao" id="alimentacao">
        </div>

        <div class="campo">
        <label for="peso">Peso</label>
        <input type="text" name="peso" id="peso">
        </div>
    </div>
    <div class="linha-form">
        <div class="campo">
        <label for="filo">Filo</label>
        <input type="text" name="filo" id="filo">
        </div>

        <div class="campo">
        <label for="classe">Classe</label>
        <input type="text" name="classe" id="classe">
        </div>
    </div>
    <div class="linha-form">
        <div class="campo">
        <label for="ordem">Ordem</label>
        <input type="text" name="ordem" id="ordem">
        </div>

        <div class="campo">
        <label for="familia">Familia</label>
        <input type="text" name="familia" id="familia">
        </div>
    </div>
    <div class="linha-form">
        <div class="campo">
        <label for="genero">Genero</label>
        <input type="text" name="genero" id="genero">
        </div>

        <div class="campo">
        <label for="especie">Especie</label>
        <input type="text" name="especie" id="especie">
        </div>
    </div>
    <div class="linha-form">
        <div class="campo">
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao">
        </div>

        <div class="campo">
        <label for="imagem">Imagem</label>
        <input type="text" name="imagem" id="imagem">
        </div>
    </div>
</section>