.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha-form{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 1px;
}